@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #0a0a0a;
}

button {
  font-family: 'Orbitron', sans-serif;
}

input {
  font-family: 'Orbitron', sans-serif;
}